<header class="header">
  <a class="home" href="http://freshfood.rocks/">
    <img src="../../../favicon.svg" alt="cauliflower" />
    <h1>The Fresh Food Diet</h1>
  </a>
  <aside class="temp-notice">
    <img
      class="icons"
      src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/wip.svg"
      alt="work in progress icon"
    />
    <p>
      This is work in progress. The old version can be found
      <a href="https://davidgma.github.io/fresh-food-old-version/">here</a>.
    </p>
  </aside>
</header>
<section class="container">
  <img
    src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/primary-school-small.png"
  />
  <article>
    <p>
      Over the past 50 years - living memory for me - there has been a huge
      increase in obesity and chronic diseases.
    </p>
    <p>When I was at primary school, almost no one was fat.</p>
    <p>Yet the reasons given for this increase make no sense to me.</p>
  </article>
</section>
<section class="features">
  <span class="feature">
    <img
      src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/famine.jpg"
      alt="woman in famine"
    />
    <p>
      One theory is the 'Thrifty Gene Hypothesis'. This states that humans have
      evolved with frequent food shortages and famines and so have adapted to
      put on weight in times of plenty so as to survive the next famine. Under
      this theory, the recent rise in obesity is because now, for the first time
      ever, we have enough food to eat and no famines, and so we just keep
      putting on weight. But this makes no sense to me. I can remember the time
      that very few people in the upper and middle classes of Britain were fat,
      and they all had enough to eat.
    </p>
  </span>
  <span class="feature">
    <img
      src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/famine.jpg"
      alt="woman in famine"
    />
    <p>
      I come from an affluent middle class family, went to a secondary school
      with mostly children from affluent families, and my parents had lots of
      friends who were also affluent. No one went hungry and very few were fat.
      People ate as much as they wanted and mostly stayed slim. The middle and
      upper classes in Britain have had enough to eat for generations and, until
      recently, mostly didn't get fat. If the Thrifty Gene Hypothesis were
      right, the increase in obesity would have happened longer ago than just
      the last 40 or 50 years.
    </p>
  </span>
</section>
<section class="features">
  <span class="feature">
    <img
      src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/sloth.webp"
      alt="sloth"
    />
    <p>
      Another theory is that people have become more gluttonous and
      slothful over the past 50 years. Under this theory, people have lost the
      self-discipline of their ancestors and simply eat too much and don't
      exercise enough. Fat people beat
      themselves up for lacking self-discipline and thin people look scornfully at them, considering them greedy and lazy.
      But this theory can't be right as evolution just doesn't happen fast
      enough for such a rapid change in a population's characteristics to happen in just 50 years.
    </p>
  </span>
  <span class="feature">
    <img
      src="https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/sloth.webp"
      alt="sloth"
    />
    <p>
       Evolution takes hundreds of years at
      least to have such a noticeable affect. Also, there's plenty of instances
      of people who clearly have good self-discipline being fat. For example,
      lots of doctors and lawyers are fat yet it takes a huge amount of
      self-discipline to qualify in those professions. Doctors generally follow
      their own advice on weight loss, which is to eat less and exercise more; to be less gluttonous and less slothful. It hasn't worked for their
      patients or themselves because the problem isn't gluttony and sloth.
    </p>
  </span>
</section>
